.refresh-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.refresh-btn {
  background: #007bff;
  color: #fff;
  border: 2px solid #000;
  padding: 0.9rem 1.8rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.refresh-btn:hover {
  background: #3395ff;
}
